.container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
}
.login-screen {
    background-color: #1abc9c;
    height: 500px;
    width: 864px;
}
.login {
    background: url("../image/login/imac.png") 0 0 no-repeat;
    /*设置背景图片的大小*/
    background-size: 940px 800px;
    color: white;
    margin-bottom: 100px;
    margin-top:70px;
    padding: 38px 38px 267px;
    position: relative; }

.login-icon {
    left: 100px;
    position: relative;
    top: 120px;
    width: 200px; }

.login-form {
    background-color: #eceff1;
    border-radius: 6px;
    padding: 24px 23px 20px;
    left:400px;
    top:25%;
    width:300px;
    height:200px;
    position: absolute; }

.login-form:before {
    content: "";
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg); }

.login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    /*浏览器兼容*/
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }

.fui-man-16{
    font-family: "Flat-UI-Icons-16";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}

.fui-man-16:before {
    content: "\e011";
}

.login-form .control-group {
    margin-bottom: 12px;
    position: relative;

}
.btn,input[type="submit"]{
    background-color: #1abc9c;
    padding-bottom: 12px;
    padding-top: 13px;
    padding-right: 40%;
    padding-left: 40%;
    color: white;
    font-size: 16.5px;
    position: relative;
    top:10px;
    border-radius: 6px;
    margin-bottom: 12px;

    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}
.btn:focus .btn:hover{
    background-color: #2fe2bf;
}
.login-link {
    color: #bfc9ca;
    display: block;
    font-size: 13px;
    top:15px;
    position: relative;
    text-align: center; }

input[type="text"], input[type="password"]{
    border: 2px solid #dce4ec;
    color: #34495e;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    padding: 8px 0 9px 10px;
    text-indent: 1px;
    width:90%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}