.c1footer{
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    background: linear-gradient(#555,#222);
    display: block;
}
.c1ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 0;
    color: #fff;
    display: inline-block;
}

.li{
    background: #333;
    border-left-color: #222;
    color: #fff;
    height: 100%;
    width: 40%;
    margin: 0 10px;
    text-align: center;
    display: inline-block;
    line-height: 50px;

    box-shadow: 0 7px 0 #2F586F, 0 8px 3px rgba(0, 0, 0, 0.3);
    background-color: #1B2831;
    border-color: #1F5882;
    color: #FFF;
    text-decoration: none;
    outline: none;
    position: relative;
    top: 0;
    border-radius: 4px;
}
#adduser,#deluser{
    height: 100%;
    width: 100%;
    background: 0;
    border:0;
}

#adduser:focus #adduser:hover{
    background-color: blue;
}
#deluser:focus #deluser:hover{
    background-c: blue;
}
.chat_tq{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.chat_nick{
    font-size: 14px;
    margin: 0 0 10px;
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
}
.chat_content{
    display: inline-block;
    min-height: 16px;
    max-width: 50%;
    background: linear-gradient(#cf9,#9c3);
    border-radius: 5px;
    padding: 10px 15px;
    word-break: break-all;
    box-shadow: 1px 1px 5px #000;
    line-height: 1.4;
    text-align: left;
    margin: 0;
    float: left;
}

